@model todoappc
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutConsultant.cshtml";
}


<div class="main-content">
    <h6> @ViewBag.s</h6>
    <div class="container-fluid">
        @if (ViewBag.Request > 0)
        {

            <div class="alert alert-danger " role="alert">
                <p>شما @ViewBag.Request عدد درخواست برگزاری کلاس انلاین دارید..</p>
                <a class="btn btn-success" asp-action="AcriveRequestClass" asp-controller="Consultant">مشاهده</a>
            </div>

        }
        @if (ViewBag.NewStudent > 0)
        {

            <div class="alert alert-danger " role="alert">
                <p>شما @ViewBag.NewStudent عدد دانش آموز غیرفعال دارید..</p>
                <a class="btn btn-success" asp-action="students" asp-controller="Consultant">مشاهده</a>
            </div>

        }
        <div class="row">
            <div class="col-md-7">
                <div class="card bg-secondary-gradient">
                    <div class="card-body">
                        <div class="row align-items-center">
                            @if (ViewBag.state == false && ViewBag.acceptdegree == true)
                            {
                                <div class="col-md-7">
                                    <p>مدارک ارسالی شما تایید شده برای فعال سازی پروفایل خود از لینک زیر هزینه ثبت نام در سایت مشاویران را پرداخت کنید..</p>

                                    <a asp-action="PeymentA" asp-controller="Consultant" class="btn bg-white">پرداخت</a>
                                </div>
                            }
                            @if (ViewBag.issendDegree == false && ViewBag.state == false)
                            {
                                <div class="col-md-7">
                                    <p>مشاور گرامی جهت فعال سازی پروفایل شما نیاز به ارسال مدارک معتبر از طریق بخش پروفایل شما برای کارشناسان ما می باشد..</p>

                                    <a asp-action="profile" asp-controller="Consultant" class="btn bg-white">پروفایل</a>
                                </div>
                            }
                            @if (ViewBag.acceptdegree == false && ViewBag.issendDegree == true)
                            {
                                <div class="col-md-7">
                                    <p> مدارک ارسالی شما به دست ما رسیده پس از بررسی نتیجه را به شما اعلام میکنیم.</p>

                                </div>
                            }
                            @if (ViewBag.acceptdegree == true && ViewBag.issendDegree == true && ViewBag.state == true)
                            {
                                <div class="col-md-7">
                                    <p>  خوش آمدید کاربر عزیز از منوی سمت راست می توانید پنل خودرا مدیریت کنید با تشکر از انتخاب شما :) </p>

                                </div>
                            }
                            @if (ViewBag.acceptdegree == false && ViewBag.issendDegree == false && ViewBag.state == false)
                            {
                                <div class="col-md-7">
                                    <p>  خوش آمدید کاربر عزیز از قسمت پروفایل مدارک خود را ارسال کنید. :) </p>

                                </div>
                            }
                            <div class="col-md-5">
                                <img src="/assets/media/svg/undraw_onboarding_o8mv.svg" alt="..." class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <h6 class="card-title">وضعیت دانش آموزان </h6>

                        </div>
                        <h2 class="mb-3 font-weight-bold">@ViewBag.Tasks</h2>
                        <div class="progress md-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width:  @ViewBag.NDoTest%" aria-valuenow=" @ViewBag.NDoTest" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.DoTest%" aria-valuenow=" @ViewBag.DoTest" aria-valuemin="0" aria-valuemax="100"></div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="mb-0">
                                    <span class="fa fa-circle text-danger mr-1"></span>
                                    تکلیف ها انجام نشده
                                </p>
                                <h5 class="mt-2 mb-0">@ViewBag.NDoTest%</h5>
                            </div>


                            <div class="col">
                                <p class="mb-0">
                                    <span class="fa fa-circle text-success mr-1"></span>
                                    تکلیف های انجام شده
                                </p>
                                <h5 class="mt-2 mb-0">@ViewBag.DoTest%</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="card-title mb-3">دانش آموزان</h6>
                                        <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                            <h2 class="mb-0 mr-2 font-weight-bold">@ViewBag.CountStudent</h2>
                                            <p class="small text-muted mb-0 line-height-20">
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="avatar avatar-lg">
                                            <div class="avatar-title bg-success-bright text-success rounded-circle">
                                                <i class="fa fa-users"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="card-title mb-3">تسک های انجام شده</h6>
                                        <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                            <h2 class="mb-0 mr-2 font-weight-bold">@ViewBag.tasksdo</h2>
                                            <p class="small text-muted mb-0 line-height-20">
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="avatar avatar-lg">
                                            <div class="avatar-title bg-warning-bright text-warning rounded-circle">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="card-title mb-3">اعتبار مالی</h6>
                                        <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                            <h2 class="mb-0 mr-2 font-weight-bold"> @ViewBag.Credit تومان</h2>
                                            <p class="small text-muted mb-0 line-height-20">
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="avatar avatar-lg">
                                            <div class="avatar-title bg-info-bright text-info rounded-circle">
                                                <i class="fa fa-money"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Div class="row">
            <div class=" col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title">کارهای روزانه</h6>

                        </div>
                        <div class="custom-control custom-checkbox-success custom-checkbox todo-item">
                            @if (Model.Todo != null)
                            {
                                @foreach (var item in Model.Todo)
                                {
                                    @if (Model != null && item.IsFinally == false)
                                    {
                                        <div class="form-group d-flex flex-row">
                                            <form>
                                                <button type="submit" class=" btn btn-success small p-2" style="height:35px;" title="انجام کار" data-toggle="tooltip" data-placement="bottom" id="checkbox @item.Id" asp-action="TodoAppDelete" asp-controller="consultant" asp-route-id="@item.Id">
                                                    <i class="fa fa-check" aria-hidden="true"></i>

                                                </button>
                                            </form>
                                            <label class="p-2"
                                                   for="checkbox @item.Id">
                                                @item.Note
                                            </label>
                                        </div>
                                    }


                                }

                            }

                        </div>

                        <form class="mt-4" method="post" asp-action="TodoApp" asp-controller="consultant">
                            <div class="input-group">
                                <input type="hidden" class="form-control" asp-for="@Model.consultantid"
                                       aria-label="Example text with button addon" value="@ViewBag.myid" />
                                <input type="text" class="form-control" asp-for="@Model.Note"
                                       aria-label="Example text with button addon"
                                       placeholder="کار جدید" aria-describedby="button-addon1">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" id="button-addon1">
                                        افزودن
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </Div>

    </div>
    <!-- end::main-content -->

</div>
<!-- end::main -->
