@model TasksStudents
@{
    ViewData["Title"] = "StudentPage";
    Layout = "~/Views/Shared/_LayoutConsultant.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <div class="container-fluid d-sm-flex justify-content-between">
            <h4>شرح وظایف دانش آموز</h4>

        </div>
    </div>
    <div class="container-fluid">
        <h5>نام و نام خانوادگی دانش آموز</h5>
     
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="card-title mb-3">دانش آموز</h6>
                                    <div class="d-flex d-sm-block d-lg-flex align-items-end">

                                        @foreach (var item in Model.Students)
                                        {

                                        <h2 class="mb-0 mr-2 font-weight-bold">
                                            @item.Name   @item.Family

                                        </h2>


                                                }
                                           
                                            <p class="small text-muted mb-0 line-height-20">
                                            </p>
                                        </div>
                                </div>
                                <div>
                                    <div class="avatar avatar-lg">
                                        <div class="avatar-title bg-success-bright text-success rounded-circle">
                                            <i class="fa fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="card-title mb-3">تسک های انجام شده</h6>
                                    <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                        <h2 class="mb-0 mr-2 font-weight-bold">@ViewBag.tasksdo</h2>
                                        <p class="small text-muted mb-0 line-height-20">
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="avatar avatar-lg">
                                        <div class="avatar-title bg-warning-bright text-warning rounded-circle">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="card-title mb-3">اعتبار به روز</h6>
                                    <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                        <h2 class="mb-0 mr-2 font-weight-bold"> @ViewBag.credittime روز</h2>
                                        <p class="small text-muted mb-0 line-height-20">
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="avatar avatar-lg">
                                        <div class="avatar-title bg-info-bright text-info rounded-circle">
                                            <i class="fa fa-money"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
        <div class="d-flex flex-row ">
            <div class="p-2">
                <div style="margin-bottom: 20px; " class="d-flex justify-content-end">
                    <form asp-action="CreateTask" asp-controller="Consultant" method="get">
                        <button type="submit" class="btn btn-success btn-uppercase">
                            <i class="ti-check-box mr-2"></i>  ایجاد وظیفه برای دانش آموز
                        </button>

                    </form>


                </div>
            </div>
            <div class="p-2">
                <a asp-action="Report" class="btn btn-success btn-uppercase">
                    <i class="ti-check-box mr-2"></i>  گزارش ماهانه
                </a>
            </div>
            <div class="p-2 ">
                <a asp-action="wReport" class="btn btn-success btn-uppercase">
                    <i class="ti-check-box mr-2"></i>  گزارش هفتگی
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <form class="form-inline" asp-action="StudentPage" asp-controller="consultant" method="post" style="margin-left:0px">

                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">تاریخ</label>
                    <persian-date asp-for="StartDate"></persian-date>
                </div>
                <button type="submit" class="btn btn-primary mb-2 ">جست و جو</button>
            </form>

        </div>

        @if (Model == null)
        {
            <h1>برای امروز وظیفه ای ایجاد نکردی</h1>
        }
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover bg-white text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">نام وظیفه</th>
                            <th scope="col">توضیحات وظیفه </th>
                            <th scope="col"> انجام شده </th>
                            <th scope="col">مدیریت</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.tasks)
                        {
                            if (item != null)
                            {
                                <tr>

                                    <td> @item.NameTasks</td>
                                    <td> @item.Descibtion</td>
                                    <td>
                                        @Html.CheckBoxFor(m => item.isDo)
                                    </td>
                                    <td>

                                        <button type="button" class="btn btn-primary" title="حذف" data-toggle="tooltip" data-placement="bottom">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>

                                        <a class="btn btn-primary" title="جزئیات" data-toggle="tooltip" data-placement="bottom" style="padding-right: 20px; padding-left: 20px;" asp-action="detaildo" asp-controller="consultant" asp-route-id="@item.DoIDdo">
                                            <i class="fa fa-info" aria-hidden="true"></i>

                                        </a>
                                    </td>
                                </tr>


                            }



                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>
@section MyScripts{
    <script src="~/persianDatePicker/calendar.js"></script>
    <script src="~/persianDatePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>

}




