@model ConsultantProfile
@{
    ViewData["Title"] = "ProfileOfConsultant";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-content">

    <div class="container-fluid">
        @*@if (ViewBag.Error != null)
            {
                <div class="card">
                    <h3 class="card-title"> خطا</h3>
                    <div class="card_body">
                        <div class="alert alert-danger " role="alert" style="margin-top: 50px;">
                            <p>@ViewBag.Error</p>
                        </div>

                    </div>
                </div>
            }*@

        <!-- اینجا ساخته شود -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="card-title mb-3">نام و نام خانوادگی</h6>
                                        <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                            <h2 class="mb-0 mr-2 font-weight-bold">@ViewBag.NameF</h2>
                                            <p class="small text-muted mb-0 line-height-20">
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="avatar avatar-lg">
                                            <div class="avatar-title bg-success-bright text-success rounded-circle">
                                                <i class="fa fa-users"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="card-title mb-3">تعداد دانش آموز </h6>
                                        <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                            <h2 class="mb-0 mr-2 font-weight-bold">@ViewBag.CountStudent</h2>
                                            <p class="small text-muted mb-0 line-height-20">
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="avatar avatar-lg">
                                            <div class="avatar-title bg-warning-bright text-warning rounded-circle">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="card-title mb-3">اعتبار مشاور</h6>
                                        <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                            <h2 class="mb-0 mr-2 font-weight-bold"> @Model.Credit تومان</h2>
                                            <p class="small text-muted mb-0 line-height-20">
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="avatar avatar-lg">
                                            <div class="avatar-title bg-info-bright text-info rounded-circle">
                                                <i class="fa fa-money"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-md-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">اطلاعات درخواست</h5>

                            <div>
                                <h6>شماره کارت</h6> <p>@Model.SRequest.CardNumber</p>
                            </div>
                            @if (Model.SRequest.Shaba != null)
                            {
                                <div>
                                    <h6>شماره شبا</h6> <p>@Model.SRequest.Shaba</p>
                                </div>
                            }

                            <div>
                                <h6>مبلغ درخواستی</h6> <p>@Model.SRequest.value</p>
                            </div>

                        </div>
                    </div>

                </div>*@
            <div class="col-12">
                <div class="accordion custom-accordion">

                    <div class="accordion-row bg-white">
                        <a href="#" class="accordion-header">
                            <span>تراکنش های مالی</span>
                            <i class="accordion-status-icon close fa fa-chevron-up"></i>
                            <i class="accordion-status-icon open fa fa-chevron-down"></i>
                        </a>
                        <div class="accordion-body">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover bg-white text-center">
                                        <thead class="thead-dark">
                                            <tr>

                                                <th scope="col"> کد پیگیری </th>
                                                <th scope="col">مبلغ</th>
                                                <th scope="col"> میزان کمیسیون</th>
                                                <th scope="col"> مبلغ باقی مانده</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.HistoryPeys)
                                            {
                                                <tr>
                                                    <td> @item.RefId </td>
                                                    <td>@item.Peyamount</td>
                                                    <td>@item.comision</td>
                                                    <td>@(item.Peyamount-item.comision)</td>


                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="accordion-row bg-white">
                        <a href="#" class="accordion-header">
                            <span>کم کردن از اعتبار کیف پول مشاور</span>
                            <i class="accordion-status-icon close fa fa-chevron-up"></i>
                            <i class="accordion-status-icon open fa fa-chevron-down"></i>
                        </a>
                        <div class="accordion-body">
                            <form asp-action="subasWallet" asp-controller="admin" asp-route-id="@ViewBag.id" method="post">
                                    <input asp-for="CreditforSub" class="form-control" placeholder=""/>

                                    <button type="submit" class="btn btn-danger" style="margin:10px">کم کردن</button>
                                </form>
                        </div>
                    </div>
                    <div class="accordion-row bg-white">
                        <a href="#" class="accordion-header">
                            <span>اضافه کردن به اعتبار کیف پول مشاور</span>
                            <i class="accordion-status-icon close fa fa-chevron-up"></i>
                            <i class="accordion-status-icon open fa fa-chevron-down"></i>
                        </a>
                        <div class="accordion-body">
                            <form asp-action="AddToWallet" asp-controller="admin" asp-route-id="@ViewBag.id" method="post">
                                <input asp-for="Creditforadd" class="form-control" placeholder="" />

                                <button type="submit" class="btn btn-danger" style="margin:10px">اضافه کردن</button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

