@model WebPlatformV1.Models.DbContext.Tbl_Tasks

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutConsultant.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Tbl_Tasks</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDCansoltant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDCansoltant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameTasks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameTasks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendDelivery)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDTasks">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
