@model IEnumerable<WebPlatformV1.Models.DbContext.Tbl_Tasks>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDCansoltant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameTasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendDelivery)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCansoltant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameTasks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendDelivery)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDTasks">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDTasks">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDTasks">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
