@model todoapp
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

    <div class="main-content">

        <div class="container-fluid">
            <!-- اینجا ساخته شود -->
            <div class="row">
                <div class="col-md-7">
                    <div class="card bg-secondary-gradient">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-md-7">
                                    <h6 class="card-title mb-3">خوش برگشتی (نام کاربر)</h6>
                                    <p>با چک کردن قسمت های مختلف بیشتر با سایت آشنا شو لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                    <ul class="mb-3">
                                        <li>این قسمت ها را مشاهده کنید</li>
                                        <li>مخاطبان خود را اضافه کنید</li>
                                    </ul>
                                    <a asp-controller="Student" asp-action="PeyTest" class="btn bg-white">پرداخت</a>
                                </div>
                                <div class="col-md-5">
                                    <img src="~/assets/media/svg/undraw_onboarding_o8mv.svg" alt="..." class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex justify-content-between">
                                <h6 class="card-title">وضعیت من</h6>
                                <div>
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                    

                                    </div>
                                </div>
                            </div>
                            <h2 class="mb-3 font-weight-bold">@ViewBag.Tasks</h2>
                            <div class="progress md-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width:  @ViewBag.NDoTest%" aria-valuenow=" @ViewBag.NDoTest" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.DoTest%" aria-valuenow=" @ViewBag.DoTest" aria-valuemin="0" aria-valuemax="100"></div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0">
                                        <span class="fa fa-circle text-danger mr-1"></span>
                                        تکلیف ها انجام نشده
                                    </p>
                                    <h5 class="mt-2 mb-0">@ViewBag.NDoTest %</h5>
                                </div>


                                <div class="col">
                                    <p class="mb-0">
                                        <span class="fa fa-circle text-success mr-1"></span>
                                        تکلیف های انجام شده
                                    </p>
                                    <h5 class="mt-2 mb-0">@ViewBag.DoTest %</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="card-title mb-3"> روز تا پایان</h6>
                                            <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                                <h2 class="mb-0 mr-2 font-weight-bold">@ViewBag.credittime</h2>
                                                <p class="small text-muted mb-0 line-height-20">
                                                </p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="avatar avatar-lg">
                                                <div class="avatar-title bg-danger-bright text-danger rounded-circle">
                                                    <i class="fa fa-window-close" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="card-title mb-3">وظیفه های انجام شده</h6>
                                            <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                                <h2 class="mb-0 mr-2 font-weight-bold">@ViewBag.tasksdo</h2>
                                                <p class="small text-muted mb-0 line-height-20">
                                                </p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="avatar avatar-lg">
                                                <div class="avatar-title bg-success-bright text-success rounded-circle">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="card-title mb-3"> وظیفه های امروز</h6>
                                            <div class="d-flex d-sm-block d-lg-flex align-items-end">
                                                <h2 class="mb-0 mr-2 font-weight-bold">@ViewBag.today</h2>
                                                <p class="small text-muted mb-0 line-height-20">
                                                </p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="avatar avatar-lg">
                                                <div class="avatar-title bg-info-bright text-info rounded-circle">
                                                    <i class="fa fa-tasks" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <Div class="row">
                <div class=" col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title">کارهای روزانه</h6>
                                <div>
                                    <a asp-action="TodoAppupdate" asp-controller="Student"  class="mr-3">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox-success custom-checkbox todo-item">
                                @foreach (var item in Model.Todo)
                                {
                                    @if (Model != null)
                                    {
                                <div>
                                    <input class="custom-control-input" asp-for="@item.IsFinally" id="checkbox @item.Id">
                                    <input type="hidden" asp-for="id"  value="@item.Id" >

                                    <label class="custom-control-label d-flex justify-content-between"
                                           for="checkbox @item.Id">
                                        @item.Note
                                    </label>
                                </div>
                                    }


                                }

                                </div>

                            <form class="mt-4" method="post" asp-action="TodoApp" asp-controller="Student">
                                <div class="input-group">
                                    <input type="hidden" class="form-control" asp-for="@Model.STudentID"
                                           aria-label="Example text with button addon" value="@ViewBag.myid" />
                                    <input type="text" class="form-control" asp-for="@Model.Note"
                                           aria-label="Example text with button addon"
                                           placeholder="کار جدید" aria-describedby="button-addon1">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" id="button-addon1">
                                            افزودن
                                        </button>
                                    </div>
                                </div>
                            </form>
                          
                        </div>
                    </div>
                </div>
            </Div>

            <!-- end::main-content -->

        </div>
    </div>

