<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - داشبرد</title>

    <!-- Favicon -->
    <link rel="~/assets/media/image/favicon.png" />
    <!-- Plugin styles -->
    <link href="~/vendors/bundle.css" rel="stylesheet" />
    <!-- Datepicker -->
    <!-- Fullcalendar -->
    <link href="~/vendors/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/assets/Cal/fullcalendar.css" rel="stylesheet" />
    <link href='~/assets/Cal/fullcalendar.print.css' rel='stylesheet' media='print' />

    <link href="~/persianDatePicker/persian-datepicker.min.css" rel="stylesheet" />

    <!-- Vmap -->
    <link href="~/vendors/vmap/jqvmap.min.css" rel="stylesheet" />

    <!-- App styles -->
    <link href="~/assets/css/app.min.css" rel="stylesheet" />

    <link href="~/persianDatePicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
    <!-- Plugin scripts -->
    <script src="~/vendors/bundle.js"></script>
    <!-- Chartjs -->
    <script src="~/vendors/charts/chartjs/chart.min.js"></script>
    <!-- Apex chart -->
    <script src="~/vendors/charts/apex/apexcharts.min.js"></script>
    <!-- Circle progress -->
    <script src="~/vendors/circle-progress/circle-progress.min.js"></script>
    <!-- Peity -->
    <script src="~/vendors/charts/peity/jquery.peity.min.js"></script>
    <script src="~/assets/js/examples/charts/peity.js"></script>
    <!-- Datepicker -->
    @*<script src="~/vendors/datepicker/daterangepicker.js"></script>
        <script src="~/assets/Datepiker/persian-datepicker.js"></script>
        <script src="vendors/datepicker/bootstrap-datepicker.fa.min.js"></script>*@
    <script src="~/persianDatePicker/js/persian-date.min.js"></script>
    <script src="~/persianDatePicker/js/persian-datepicker.min.js"></script>
    <!-- Slick -->
    <script src="~/vendors/slick/slick.min.js"></script>
    <!-- Vamp -->
    <script src="~/vendors/vmap/jquery.vmap.min.js"></script>
    <script src="~/vendors/vmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/assets/js/examples/vmap.js"></script>

    <!-- Css -->
    <link rel="stylesheet" href="vendors/dataTable/dataTables.min.css" type="text/css">

    <!-- Javascript -->
    <script src="vendors/dataTable/jquery.dataTables.min.js"></script>

    <!-- Bootstrap 4 and responsive compatibility -->
    <script src="vendors/dataTable/dataTables.bootstrap4.min.js"></script>
    <script src="vendors/dataTable/dataTables.responsive.min.js"></script>
    <!-- a -->
    <script src="~/assets/Cal/moment.js"></script>
    <script src="~/assets/Cal/moment-jalaali.js"></script>
    <script src="~/assets/Cal/fullcalendar.js"></script>
    <script src="~/assets/Cal/fa.js"></script>

    <!-- Dashboard scripts -->
    <script src="~/assets/js/examples/dashboard.js"></script>
</head>
<body>

    <!-- begin::preloader-->
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <!-- end::preloader -->
    <!-- begin::header -->
    <div class="header">

        <div>
            <ul class="navbar-nav">

                <!-- begin::navigation-toggler -->
                <li class="nav-item navigation-toggler">
                    <a href="#" class="nav-link" title="Hide navigation">
                        <i data-feather="arrow-left"></i>
                    </a>
                </li>
                <li class="nav-item navigation-toggler mobile-toggler">
                    <a href="#" class="nav-link" title="Show navigation">
                        <i data-feather="menu"></i>
                    </a>
                </li>
                <!-- end::navigation-toggler -->

               

            </ul>
        </div>

        <div>
            <ul class="navbar-nav">


                <!-- begin::header search -->
                @*<li class="nav-item">
                    <a href="#" class="nav-link" title="جست‌و‌جو" data-toggle="dropdown">
                        <i data-feather="search"></i>
                    </a>
                    <div class="dropdown-menu p-2 dropdown-menu-right">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="جستجو">
                                <div class="input-group-prepend">
                                    <button class="btn" type="button">
                                        <i data-feather="search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>*@
                <!-- end::header search -->
                <!-- begin::header minimize/maximize -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" title="تمام صفحه" data-toggle="fullscreen">
                        <i class="maximize" data-feather="maximize"></i>
                        <i class="minimize" data-feather="minimize"></i>
                    </a>
                </li>
                <!-- end::header minimize/maximize -->
                <!-- begin::header messages dropdown -->
             
            </ul>

            <!-- begin::mobile header toggler -->
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item header-toggler">
                    <a href="#" class="nav-link">
                        <i data-feather="arrow-down"></i>
                    </a>
                </li>
            </ul>
            <!-- end::mobile header toggler -->
        </div>

    </div>
    <!-- end::header -->
    <!-- begin::main -->
    <div id="main">

        <!-- begin::navigation -->
        <div class="navigation">

            <div class="navigation-menu-tab">
                <div>
                    <div class="navigation-menu-tab-header" data-toggle="tooltip" title="@ViewBag.NameAndFamily" data-placement="right">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                            @if (ViewBag.hasP == null)
                            {
                                <figure class="avatar">
                                    <span class="avatar-title rounded-circle">@ViewBag.fristCharecter</span>
                                </figure>
                            }
                            else
                            {
                                <figure class=" avatar avatar-lg" >
                                    <img src="/images/Profile/@(ViewBag.ID).jpg"
                                         class="rounded-circle bg-info" alt="..." >
                                </figure>
                            }
                        </a>
                        <div class="dropdown-menu dropdown-menu-left dropdown-menu-big" style="margin-right:80px">
                            <div class="p-3 text-center" data-backround-image="/assets/media/image/image1.jpg">
                                @if (ViewBag.hasP == null)
                                {
                                    <figure class="avatar">
                                        <span class="avatar-title rounded-circle">@ViewBag.fristCharecter</span>
                                    </figure>
                                }
                                else
                                {
                                    <figure class=" avatar avatar-xl ">
                                        <img src="/images/Profile/@(ViewBag.ID).jpg"
                                             class="rounded-circle bg-info" alt="...">
                                    </figure>
                                }
                                <h6 class="d-flex align-items-center justify-content-center">

                                    @ViewBag.NameAndFamily
                                </h6>
                                <small>شارژ: <strong>@ViewBag.credit تومان</strong></small>
                            </div>
                            <div class="dropdown-menu-body">

                                <div class="list-group list-group-flush">
                                    <a asp-action="Profile" class="list-group-item">پروفایل</a>
                                    @*<div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item">ارسال مدرک</a>

                                    </div>*@

                                    <form asp-action="LogOutConsultant" asp-controller="Account" method="post">
                                        <button class="list-group-item text-danger" type="submit" data-sidebar-target="#settings"> خروج</button>
                                        @*<a class="list-group-item text-danger" data-sidebar-target="#settings" >خروج</a>*@

                                    </form>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <ul>
                        <li>
                            <a class="active"  data-toggle="tooltip" data-placement="right" title="داشبرد"
                               data-nav-target="#dashboards">
                                <i data-feather="bar-chart-2"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="بلاگ" data-nav-target="#apps">
                                <i data-feather="command"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="مدیریت مالی" data-nav-target="#pages">

                                <i class="fa fa-credit-card" aria-hidden="true"></i>

                            </a>
                        </li>

                    </ul>
                </div>
                <div>
                    <ul>
                        

                    </ul>
                </div>
            </div>

            <!-- begin::navigation menu -->
            <div class="navigation-menu-body">

                <!-- begin::navigation-logo -->
                <!-- <div>
                    <div id="navigation-logo">
                        <a href="index.html">
                            <img class="logo" src="assets/media/image/logo-F.png" alt="logo">
                            <img class="logo-light" src="assets/media/image/logo-light.png" alt="light logo">
                        </a>
                    </div>
                </div> -->
                <!-- end::navigation-logo -->

                <div class="navigation-menu-group">

                    <div class="open" id="dashboards">
                        <ul>
                            <li class="navigation-divider">داشبردها</li>
                            <li><a class="active" asp-action="index" asp-controller="consultant">داشبرد</a></li>
                            <li><a asp-action="Tasks" asp-controller="consultant">ایجاد وظیفه برای دانش آموزان</a></li>
                            <li><a asp-action="OnlineInWeek" asp-controller="consultant">تغییر در زمان حضور</a></li>
                            <li><a asp-action="AcriveRequestClass" asp-controller="consultant">مدیریت درخواست های کلاس انلاین</a></li>

                            <li>
                                <a asp-action="Students" asp-controller="consultant">
                                    <span>  مدیریت دانش آموزان غیر فعال</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div id="apps">
                        <ul>
                            <li class="navigation-divider">وبلاگ</li>
                            <li>
                                <a asp-action="Blog" asp-controller="consultant">
                                    <span>صفحه من</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div id="pages">
                        <ul>
                            <li class="navigation-divider">مدیریت مالی</li>
                            <li>
                                <a asp-controller="consultant" asp-action="Historypay">
                                    <span> تراز مالی من</span>
                                </a>
                            </li>
                          
                            <li>
                                <a asp-action="AddtoWallet" asp-controller="consultant">
                                    <span> شارژ کیف پول</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- end::navigation menu -->

        </div>
        <!-- end::navigation -->
        <!-- begin::main-content -->
        @RenderBody()
    </div>
    <!-- end::main -->



    <!-- App scripts -->
    <script src="~/assets/js/app.min.js"></script>
    @RenderSection("MyScripts", required: false)
</body>

</html>